/* GENERAL STUFF */
body{
    background: #fff;
    margin: 0;
    padding: 0;
    text-align: center;    
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;
    color: #444;
    font-size: 15pt;
    height:100%;
}

.overlay {
 	position:absolute;
	display:none; 

    /* color with alpha transparency */
    background-color: rgb(0, 0, 0);
	opacity: 0.3;

    /* stretch to screen edges */
    top: 0;
	left: 0;
    bottom: 0;
    right: 0;
	z-index: 10;
}

/* LAYOUT */
#login, #register, #forgot {
	width: 500pt;
    margin: 15pt auto 0;
    text-align: left;
    background: #eee;
    padding: 15pt 25pt 25pt;
    -moz-border-radius: 15pt;
    border-radius: 15pt;
}

#step, #login, #register, #forgot, #header_form, #main {
    -webkit-box-shadow:0 1pt 4pt rgba(0, 0, 0, 0.3), 0 0 40pt rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1pt 4pt rgba(0, 0, 0, 0.3), 0 0 40pt rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1pt 4pt rgba(0, 0, 0, 0.3), 0 0 40pt rgba(0, 0, 0, 0.1) inset;
	-moz-border-radius:4pt;
}

h1{
    font-size: 20pt;
    font-weight: normal;
}

/* FORM */
fieldset{
    border: none;
}

legend{
    display: none;
}

label{
    font-weight: bold;
	font-size: 15pt;
}

input.button{
    color: #fff;
    padding: 7pt 21pt;
    font-size: 15pt;
    margin-top: 10pt;
    font-weight: bold;
    
    -moz-border-radius: 5pt;
    border-radius: 5pt;
    
    -moz-box-shadow: 1pt 1pt 5pt #ccc;
    -webkit-box-shadow: 1pt 1pt 5pt #ccc;
    box-shadow: 1pt 1pt 5pt #aaa;
	
	background: #999;
    border: 1pt groove #aaa;
}

input.button:hover{
    background: #199;
}

input.textInput{
    width: 97%;
    padding: 7pt;
    font-size: 15pt;
    border: 1pt solid #ccc;
    margin-bottom: 15pt;
}

/* Navigation */
#nav_top {
	position: relative;
	background: gray;
	min-width: 500pt;
	
	-webkit-box-shadow:0 1pt 4pt rgba(0, 0, 0, 0.3), 0 0 40pt rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1pt 4pt rgba(0, 0, 0, 0.3), 0 0 40pt rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1pt 4pt rgba(0, 0, 0, 0.3), 0 0 40pt rgba(0, 0, 0, 0.1) inset;
	-moz-border-radius:4pt;
	
	-moz-border-radius: 5pt;
    border-radius: 5pt;
}

div {
	font-size: 15pt;
	vertical-align: baseline;
	background: transparent;
}

#nav_top > ul {
	display: inline-block;
	margin: 0pt;
}

#nav_top li {
	float: left;
	list-style: none;
	position: relative;
	display: block;
	line-height: 175%;
}

#nav_top a {
	color: #fff;
    padding: 1pt 5pt;
    margin-top: 10pt;
    font-weight: bold;
    
    -moz-border-radius: 5pt;
    border-radius: 5pt;
    
	text-decoration: none;
	height: 100%;
	width: 150%;
}

#nav_top a:hover {
	background: #199;
	cursor: pointer;
}

.addButton {
    border-radius: 50%;
    behavior: url(PIE.htc); /* IE8 support */

    width: 20pt;
    height: 20pt;
    padding: 4pt;

    background: #199;
    color: #FFFFFF;

    font: 20pt Arial, sans-serif;
	font-weight: bold;
	position: absolute;
	left: 50%;
	margin-left: -10pt;
}

.addButton:hover {
	background: #33CC33;
	cursor: pointer;
}

.deleteButton {
    border-radius: 50%;
    behavior: url(PIE.htc); /* IE8 support */

    width: 20pt;
    height: 20pt;
	padding: 2pt;
	
	position: relative;
	top: 25%;
	left: 25%;

    background: #A00000;
    color: #FFFFFF ;

    font: 20pt Arial, sans-serif;
	text-align: center;
}

.deleteButton:hover {
	background: #E80000;
	cursor: pointer;
}

.popup{
    position:absolute;
    top: 5%;
    left: 40%;
    width: 20%;
    height: 150pt;
    font-size: 15pt;
    padding: 10px;
	background: #fff;
	
    -webkit-box-shadow:0 1pt 4pt rgba(0, 0, 0, 0.3), 0 0 40pt rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1pt 4pt rgba(0, 0, 0, 0.3), 0 0 40pt rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1pt 4pt rgba(0, 0, 0, 0.3), 0 0 40pt rgba(0, 0, 0, 0.1) inset;
	-moz-border-radius:4pt;
	
	-moz-border-radius: 5pt;
    border-radius: 5pt;

    z-index:20;
    }
    
.cancel{
    display:relative;
    cursor:pointer;
    margin:0;
    float:right;
    height:10px;
    width:14px;
    padding:0 0 5px 0;
    background-color:red;
    text-align:center;
    font-weight:bold;
    font-size:11px;
    color:white;
    border-radius:3px;
    z-index:20;
    }

table {
	margin-left:auto; 
    margin-right:auto;
}

tr {
	text-align: left;
}

tr:nth-child(even) {
	background: #CCC
}
tr:nth-child(odd) {
	background: #FFF
}
