<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
							http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>Bar</display-name>
    <!-- Auto scan REST service -->

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>other</realm-name>
        <form-login-config>
            <form-login-page>/auth/login.jsp</form-login-page>
            <form-error-page>/auth/error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <error-page>
        <error-code>404</error-code>
        <location>/err/404.html</location>
    </error-page>
</web-app>
